<!DOCTYPE html>
    <head>
        <title>viewer</title>
        <style>
            html, body, iframe {
                        width: 100%;
                        height: 100%;
                }
        </style>
    </head>
    <body>
           
            <iframe id="1" src='https://view.officeapps.live.com/op/embed.aspx?src=https%3A%2F%2Fnameless-hamlet-26207.herokuapp.com%2F/docs/<%- File%>' width='100%' height='100%' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
    </body>
</html>